
div.customize-setting-validation-message.error {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: none;
}

.customize-control-widget_form.customize-setting-invalid .widget .widget-top {
	background-color: #FFE0E0;
}
.customize-control-nav_menu_item.customize-setting-invalid .menu-item-bar .menu-item-handle {
	background-color: #FFE0E0;
}

.customize-setting-validation-message li {
	list-style: disc;
	margin-bottom: 0;
	margin-left: 1em;
}
.customize-setting-validation-message li:only-child {
	list-style: none;
	margin-left: 0;
}
